/**
 * Stylesheet - Custom
 * Author - Andrew Mass
 */

// Colors
@gray-dark: #222;
@gray-light: #CCC;
@accent: #B92323;

// Dimensions
@table-width: 1600px;
@table-height: 800px;

// Timings
@transition: 0.1s linear;

// Fonts
@sans-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
@headings-font-family: 'Oswald', @sans-font-family;

// Mixins
.transition(@trans) {
  -webkit-transition: @trans;
  -moz-transition:    @trans;
  -ms-transition:     @trans;
  transition:         @trans;
}

.animation(@anim) {
  -webkit-animation: @anim;
  -moz-animation:    @anim;
  -ms-animation:     @anim;
  animation:         @anim;
}

.transform(@trans) {
  -webkit-transform: @trans;
  -moz-transform:    @trans;
  -ms-transform:     @trans;
  transform:         @trans;
}

.transform-style(@trans) {
  -webkit-transform-style: @trans;
  -moz-transform-style:    @trans;
  -ms-transform-style:     @trans;
  transform-style:         @trans;
}

.perspective(@trans) {
  -webkit-perspective: @trans;
  -moz-perspective:    @trans;
  -ms-perspective:     @trans;
  perspective:         @trans;
}
