/**
 * Stylesheet - Custom
 * Author - Andrew Mass
 */

// Colors
@gray-dark: #222;
@gray-light: #CCC;
@accent: #B92323;

// Timings
@transition: 0.05s linear;

// Fonts
@font-family-sans-serif:  'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
