/**
 * Stylesheet - Main
 * Author - Andrew Mass
 */

html {
  background-color: @gray-dark;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: @gray-dark;
}

::-webkit-scrollbar-thumb {
  background-color: @gray-light;
}

a:hover {
  text-decoration: none;
}

.header {
  margin-bottom: 25px;
  border-bottom: 2px solid @accent;
  
  h1 {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 50px;
    color: @gray-light;
    
    .control {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 25px;
      cursor: pointer;

      &:hover, &.clicked {
        color: @accent;
      }
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;

  table {
    width: @table-width;
    height: @table-height;
    margin: 0 auto;

    tr {
      height: @table-height / 4;

      td {
        .transition(background-color @transition);
        width: 100% / 6;
        background-color: @gray-dark;

        a {
          .transition(color @transition);
          font-size: 20px;
          font-family: @headings-font-family;
          color: @gray-light;
          text-decoration: none;
          
          .box {
            text-align: center;

            i {
              display: block;
              margin-bottom: 15px;
              font-size: 125px;
              
              &.small {
                font-size: 95px;
                margin-top: 10px;
                margin-bottom: 35px;
              }
            }

            img {
              width: 125px;
              margin-bottom: 10px;
            }

            .text-only { 
              font-size: 50px;
            }
          }
        }

        &.double {
          width: 100% / 3;

          a {
            font-size: 40px;

            .box {

              i {
                font-size: 250px;
              }

              img {
                width: 225px;
                margin-top: 15px;
                margin-bottom: 20px;
              }
            }
          }
        }

        &:hover, &.hover {
          background-color: @gray-light;
          
          a {
            color: @gray-dark;

            img {
              -webkit-filter: invert(100%);
              -webkit-transition: @transition;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1600px) {}
