/**
 * Stylesheet - Main
 * Author - Andrew Mass
 */

html {
  background-color: @gray-dark;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: @gray-dark;
}

::-webkit-scrollbar-thumb {
  background-color: @gray-light;
}

#profile-photo {
  max-width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-left: 1px;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 1600px;
  height: 800px;
  margin: 0 auto;
  background-color: @gray-light;

  table {
    width: 100%;
    height: 100%;

    td {
      position: relative;
      .transition(all @transition-time);
      width: 12.5%;
      height: 25%;
      background-color: @gray-dark;

      &.double {
        width: 25%;
        height: 50%;

        a {
          font-size: 40px;

          .box i {
            font-size: 250px;
            margin-bottom: 15px;
          }
        }
      }

      &:hover, &.hover {
        background-color: @gray-light;
        border-collapse: collapse;
        border-color: @gray-dark;
        border: 2px solid @gray-dark;
        
        a {
          color: @gray-dark !important;
        }
      }

      &.photo {
        border: none;
      }

      a {
        color: @gray-light;
        font-family: @headings-font-family;
        font-size: 20px;
        text-decoration: none;

        .box {
          text-align: center;

          i {
            display: block;
            font-size: 125px;
            margin-bottom: 15px;

            &.small {
              font-size: 95px;
            }
          }

          .text-only { 
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1600px) {}
